@charset "UTF-8";
* {
  margin: 0;
  padding: o;
}

a, h2, p {
  color: #424141;
}

/* body ------------------------------------------------------------ */
body {
  overflow-x: hidden;
  letter-spacing: 1px;
  position: relative;
}

/* header ------------------------------------------------------------ */
.navbar {
  background-color: #5ce1e6;
}

.nav-item a {
  display: inline-block;
  position: relative;
  color: #424141 !important;
  font-size: 20px;
  text-decoration: none;
}

.nav-item a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  content: '';
}

.nav-item a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.nav-link {
  margin: .5rem 1rem;
  padding: 0 !important;
}

.header-logo {
  width: 100%;
  height: 700px;
}

.header-logo .header-logo-wrap {
  height: 556px;
  background-color: #5ce1e6;
}

.header-logo .header-logo-wrap img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: inherit;
  margin: 0 auto;
}

.header-logo .header-logo-wrap svg {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10vw;
}

/* about ------------------------------------------------------------ */
.about-title {
  width: fit-content;
  margin: 0 auto 5rem auto;
}

.about-title h2 {
  display: inline-block;
  position: relative;
  padding: .25em 1.5em;
}

.about-title h2:before, .about-title h2:after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 30px;
  content: " ";
}

.about-title h2:before {
  border-left: solid 5px #11a171;
  border-top: solid 5px #11a171;
  top: 0;
  left: 0;
}

.about-title h2:after {
  border-right: solid 5px #11a171;
  border-bottom: solid 5px #11a171;
  bottom: 0;
  right: 0;
}

.about-wrap {
  display: flex;
  margin: 0 5rem 5rem 5rem;
}

.about-wrap .about-img {
  margin: 2rem 2rem 2rem auto;
}

.about-wrap .about-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-wrap .about-text {
  margin: 0 auto;
}

.about-wrap .about-text p {
  font-size: 20px;
  line-height: 1.5;
}

/* works ---------------------------------------------------------- */
.works-title {
  width: fit-content;
  margin: 0 auto 5rem auto;
}

.works-title h2 {
  display: inline-block;
  position: relative;
  padding: .25em 1.5em;
}

.works-title h2:before, .works-title h2:after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 30px;
  content: " ";
}

.works-title h2:before {
  border-left: solid 5px #11a171;
  border-top: solid 5px #11a171;
  top: 0;
  left: 0;
}

.works-title h2:after {
  border-right: solid 5px #11a171;
  border-bottom: solid 5px #11a171;
  bottom: 0;
  right: 0;
}

.works-item {
  display: flex;
  margin: 0 10rem 1rem 10rem;
}

.works-item .works-item-1 {
  width: 50%;
  margin: auto;
}

.works-item .works-item-1 img {
  display: block;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  opacity: .5;
}

.works-item .works-item-1 p {
  margin: 2rem;
  font-size: 18px;
  text-align: center;
}

.works-link {
  height: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

.works-link .works-link-read-more {
  position: relative;
  z-index: 1;
  font-size: 20px;
  cursor: pointer;
}

.works-link .works-link-read-more::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: -1;
  transition: all .3s;
  /*アニメーションの長さ*/
  width: 0%;
  /*最初はwidth:0にする*/
  height: 8px;
  background: #5ce1e6;
  content: "";
}

.works-link .works-link-read-more:hover::after {
  width: 100%;
}

/* contact ---------------------------------------------------------- */
.contact-title {
  width: fit-content;
  margin: 0 auto 5rem auto;
}

.contact-title h2 {
  display: inline-block;
  position: relative;
  padding: .25em 1.5em;
}

.contact-title h2:before, .contact-title h2:after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 30px;
  content: " ";
}

.contact-title h2:before {
  border-left: solid 5px #11a171;
  border-top: solid 5px #11a171;
  top: 0;
  left: 0;
}

.contact-title h2:after {
  border-right: solid 5px #11a171;
  border-bottom: solid 5px #11a171;
  bottom: 0;
  right: 0;
}

.contact-item {
  font-size: 25px;
  text-align: center;
}

.contact-item a {
  display: block;
  margin-bottom: 3rem;
}

/* footer ------------------------------------------------------------ */
.footer-svg svg {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10vw;
  transform: scale(-1, -1);
}

.footer-copyright {
  padding-bottom: 1rem;
  text-align: center;
  background-color: #5ce1e6;
}

/*---Media Queries --*/
/* desktops, 992px and up */
