@charset "UTF-8";

// 変数
$main-color: #5ce1e6;
$common-font-color: #424141;
$tetle-border: sold 5px #11a171;

// about,works,contactのタイトル
@mixin common-title {
  width: fit-content;
  margin: 0 auto 5rem auto;
  padding-top: 5rem;
  @include tablets {
    margin: 0 auto 3rem auto;
    padding-top: 3rem;
  }
}

@mixin common-title-text {
  display: inline-block;
  position: relative;
  padding: .25em 1.5em;
}

@mixin common-title-text-before-after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 30px;
  content: " ";
}

@mixin common-title-text-before {
	border-left: solid 5px #11a171;
	border-top: solid 5px #11a171;
	top:0;
	left: 0;  
}

@mixin common-title-text-after {
	border-right: solid 5px #11a171;
	border-bottom: solid 5px #11a171;
	bottom:0;
	right: 0;  
}

// @media
$pc: 992px;
$tablets: 768px;
$phones: 576px;

@mixin pc {
  @media(max-width: ($pc)) {
    @content;
  }
}
@mixin tablets {
  @media(max-width: ($tablets)) {
    @content;
  }
}
@mixin phones {
  @media(max-width: ($phones)) {
    @content;
  }
}

// リセット
*{
	margin: 0;
	padding: o;
}

a, h2, p {
	color: $common-font-color;
}

/* body ------------------------------------------------------------ */
body {
  overflow-x: hidden;
  letter-spacing: 1px;
  position: relative;
}

/* header ------------------------------------------------------------ */
// nav
.navbar {
  background-color: $main-color;
}

.nav-item a {
  display: inline-block;
  position: relative;
  color: $common-font-color !important;
  font-size: 20px;
  text-decoration: none;
  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
    content: '';
  }
  &:hover::after {
  transform-origin: left top;
	transform: scale(1, 1);  
  }
}

.nav-link {
  margin: .5rem 1rem;
  padding: 0 !important;
}

// header
.header-logo {
	width: 100%;
  height: 700px;
  @include tablets {
    height: 635px;
  }
  @include phones {
    height: 610px;
  }
  .header-logo-wrap {
    height: 556px;
    background-color: $main-color;
    img {
      display: block; 
      object-fit: contain;
      width: 100%;
      height: inherit;
      margin: 0 auto;
    }
    svg {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 10vw;
    }
  }
}

/* about ------------------------------------------------------------ */
.about-title {
  @include common-title;
  h2{
    @include common-title-text;
    &:before,&:after {
      @include common-title-text-before-after;
    }
    &:before {
      @include common-title-text-before;
    }
    &:after {
      @include common-title-text-after;
    }
  }
}

.about-wrap {
	display: flex;
  margin: 0 5rem 5rem 5rem;
  @include pc {
    flex-wrap: wrap;
  }
  @include tablets {
    margin: 0 3rem 1rem 3rem;
  }
  @media (max-width: 320px)  {
    margin: 0 1.5rem 0 1.5rem;
  }
  .about-img {
    margin: 2rem 2rem 2rem auto;
    @include pc {
    display: block;
		margin: auto;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
  .about-text {
    margin: 0 auto;
    @include pc {
      margin: 2rem auto;
    }
    p {
      font-size: 20px;
      line-height: 1.5;
      word-break: break-all;
      @media (max-width: 768px) {
        font-size: 16px;
      }
      @include phones {
        font-size: 12px;
      }
    }
    br:not(.not) {
      @include phones {
        display: none;
      }
    }
    .skill {
      margin-bottom: 5px;
    }
    .marker {
      background: linear-gradient(transparent 60%, #cf9bc6a8 60%);
    }
  }
}

/* works ---------------------------------------------------------- */
.works-section {
  .works-to-svg svg {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vw;
    transform: scale(-1, -1);
  }
  .works-section-wrap {
    background-color: #F8F9FA;
    .works-title {
      @include common-title;
      h2{
        @include common-title-text;
        &:before,&:after {
          @include common-title-text-before-after;
        }
        &:before {
          @include common-title-text-before;
        }
        &:after {
          @include common-title-text-after;
        }
      }
    }
    .works-item-wrap {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 3rem;
      @include phones {
        margin: 0;
        display: inline;
      }
      .works-item {
        width: 380px;
        // margin: 0 auto 3rem auto;
        margin-bottom: 3rem;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #adb5bd;
        border-radius: 5px;
        @include phones {
          width: 100%;
        }
          .works-img {
            // position: relative;
            display: block;
            width: 380px;
            height: 420px;
            margin: 0 auto;
            transition-duration: 0.3s;
            cursor: pointer;
            &:hover{
              opacity: 0.6;
              transform: scale(1.1);
              transition-duration: 0.3s;
            }
              @include tablets {
                width: 290px;
                height: 350px;
                object-fit: cover;
              }
              @include phones {
                width: 300px;
                height: 300px;
                object-fit: cover;
              }
            }   
      }
      // .works-item-2 {
      //   opacity: .5;
      // }
      // 「webで見る」
      .works-item-about {
        margin: 2rem;
        font-size: 18px;
        text-align: center;
        @include tablets {
          font-size: 13.5px;
        }
        p {
          margin-bottom: 2rem;
          @include tablets {
            margin-bottom: 1rem;
          }
        }
        a {
          position: relative;
          width: 160px;
          padding: 0.4em;
          text-align: center;
          text-decoration: none;
          color: #17a2b8;
          border: 1px solid #17a2b8;
          border-radius: 5px;
          &:hover {
            background: $main-color;
            border-color: $main-color;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
      .modal {
        @media (max-width: 375px)  {
          width: 375px;
        }
        @media (max-width: 320px)  {
          width: 320px;
        }
        .modal-content {
          height: 90vh;
          @media (max-width: 320px)  {
            top: -20px;
          }
          img {
            width: 800px;
            height: auto;
            margin: 0;
          }
        }
      }
    }
    // もっと作品を見る(foriio.com)
      .works-link {
        height: 2rem;
        text-align: center;
        .works-link-read-more {
          position: relative;
          z-index: 1;
          font-size: 20px;
          @include tablets {
            font-size: 95%;
          }
          cursor: pointer;
          &::after {
            position: absolute;
            bottom: -4px;
            left: 0;
            z-index: -1;
            transition: all .3s;  /*アニメーションの長さ*/
            width: 0%;    /*最初はwidth:0にする*/
            height: 8px;
            background: #cf9bc6a8;
            content:"";
          }
          &:hover::after {
            width: 100%;
          }
          a {
            text-decoration: none;
            color: $common-font-color;
          }
        }
      }
  }
    .works-bottom-svg svg {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 10vw;
    }
}


/* contact ---------------------------------------------------------- */
.contact-title {
  @include common-title;
  h2{
    @include common-title-text;
    &:before,&:after {
      @include common-title-text-before-after;
    }
    &:before {
      @include common-title-text-before;
    }
    &:after {
      @include common-title-text-after;
    }
  }
}

.contact-item {
  // height: 170px;
  font-size: 25px;
  text-align: center;
  a {
    display: block;
    margin-bottom: 3rem;
    @include phones {
      margin: 1rem auto 2rem auto;
      font-size: 90%;
    }
  }
  p {
    @include tablets {
    font-size: 1rem;
    }
  }
}

/* footer ------------------------------------------------------------ */
.footer-svg {
  svg {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vw;
    transform: scale(-1,-1);
  }
}
.footer-copyright {
	padding-bottom: 1rem;
  text-align: center;
  background-color: $main-color;
}